* {
	margin:0;
	padding:0;
}
.body-content {
	background-color:#0B0C10;
}

.navTop center {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 0px;
	font-size: 35px;
	color:#66FCF1;
	background-color: #0B0C10;
  }
.clr {
	clear:both;
}

h1 {
	color:#66FCF1;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15px;
}
.main {
	width: 800px;
	height: 350px;
	background-color:#0B0C10;
	margin-top: 60px;
	margin-left:260px;
	margin-right:250px;
	padding:25px;
	border-radius: 20px;
	border-right: 3px ;
	border-bottom: 3px;
	box-shadow: 4px 3px #66FCF1;
	

}

label {
	margin-top: 30px;
	font-size: 25px;
	color: #66FCF1;
	font-family: 'Roboto', sans-serif;
	margin-left: 10px;
}

.input {
	border-color:#66FCF1;
	background-color: #0B0C10;
	color: #C5C6C7;
	margin-top: 30px;
	width: 150px;
	height: 40px;
    padding:2px;
	border-radius: 10px;
	font-size: 20px;
	margin-left: 10px;
}

.type {
	margin-left: 15px;
}

select {
	width: 150px;
	height: 50px;
	padding:2px;
	border-radius: 10px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.result {
	font-size: 25px;
	color:#66FCF1;
	font-family: 'Roboto', sans-serif;
	margin-top: 25px;
	margin-bottom: 25px;
}
#result {
	color:#C5C6C7;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}
button {
	width: 140px;
	height: 65px;
	padding:2px;
	border-radius: 15px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	background-color:#0B0C10;
	color:white;
	margin-left: 350px;
	margin-top: 40px;
	border-color: #66FCF1;

}